{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'subscribe/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'home/img/home-banner.png' %}" />
</div>

<div class="header-container default-container">
  <h1 class="primary-header">Let's Keep in Touch!</h1>
</div>

<div class="subscribe__info default-container">
  <div class="subscribe__info-container">
    <p class="paragraph">
      If you would like to receive email updates leading up to the Kingsburg
      Weekend of Wellness event, please fill out the form.
    </p>

    <p class="paragraph">
      We will keep you up informed and up to date with all the exciting
      opportunities taking place on April 27, 2024.
    </p>
  </div>
</div>

<div class="subscribe__social-media default-container">
  <div class="subscribe__social-media__info">
    <p class="paragraph">Stay connected by following us on social media:</p>
  </div>

  <div class="subscribe__social-media__content">
    <div class="subscribe__social-media__content-logos">
      <a
        href="https://www.instagram.com/kingsburg_wellness?igsh=OGQ5ZDc2ODk2ZA=="
        rel="noopener noreferrer"
        target="_blank"
      >
        <img src="{% static 'img/instagram-icon.png' %}" />
      </a>

      <a
        href="https://www.facebook.com/profile.php?id=61556758955976&mibextid=LQQJ4d"
        rel="noopener noreferrer"
        target="_blank"
      >
        <img src="{% static 'img/facebook-icon.png' %}" />
      </a>
    </div>

    <div class="subscribe__social-media__content-names">
      <p class="paragraph">@kingsburg_wellness</p>

      <p class="paragraph">Kingsburg Weekend of Wellness</p>
    </div>
  </div>
</div>
{% endblock %}
