{% extends "base.html" %} {% load static %} {% block head %} {% endblock %} {%
block content %}
<div class="header-container">
  <h1 class="primary-header">Let's Keep in Touch!</h1>
</div>

<div class="subscribe__info">
  <p>
    If you would like to receive email updates leading up to the Kingsburg
    Weekend of Wellness event, please fill out the form.
  </p>

  <p>
    We will keep you up informed and up to date with all the exciting
    opportunities taking place on April 27, 2024.
  </p>
</div>

<div class="subscibe__social-media">
  <div class="subscribe__social-media__info">
    <p>Stay connected by following us on social media:</p>
  </div>

  <div class="subscribe__social-media__content">
    <div class="subscribe__social-media__content-logo"></div>

    <div class="subscribe__social-media__content-names">
      <p>@kingsburg_wellness</p>

      <p>Kingsburg Weekend of Wellness</p>
    </div>
  </div>
</div>
{% endblock %}
