{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'events/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'events/img/mobile-health-clinic-banner.png' %}" />
</div>

<div class="mobile-health-clinic__info default-container">
  <div class="mobile-health-clinic__info-container">
    <div class="mobile-health-clinic__info-img">
      <img src="{% static 'events/img/annual-check-up.png' %}" />
    </div>

    <div class="mobile-health-clinic__info-detail">
      <h2 class="secondary-header">Connect:</h2>

      <p class="paragraph">
        We hope to connect you to a diverse network of healthcare professionals
        within our community who are dedicated to supporting your wellness
        journey. These professionals encompass a wide range of specialties, from
        physicians and nutritionists to therapists and fitness experts, all
        committed to providing comprehensive care tailored to your individual
        needs. Through meaningful connections and collaborations, we strive to
        bridge the gap between individuals seeking guidance and the experts who
        can offer valuable insights, advice, and support. Whether you're looking
        for preventative care, treatment options, or simply seeking guidance on
        your path to optimal health, we're here to facilitate those connections
        and empower you to make informed decisions about your well-being. At the
        Weekend of Wellness event, you'll have the opportunity to engage with
        these professionals firsthand, forging relationships that can positively
        impact your health and vitality for years to come.
      </p>
    </div>
  </div>
</div>
{% endblock %}
