{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'events/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'events/img/pickleball-tournament-banner.png' %}" />
</div>

<div class="header-container default-container">
  <h1 class="primary-header">Looking for some friendly competition?</h1>

  <h2 class="secondary-header">
    Find your doubles partner and get ready for a great time!
  </h2>
</div>

<div class="pickleball-tournament__info default-container">
  <div class="pickleball-tournament__info-container">
    <div class="pickleball-tournament__info-img">
      <img src="{% static 'events/img/pickleball.png' %}" />
    </div>

    <div class="pickleball-tournament__info-detail">
      <h2 class="secondary-header">
        April 27, 2024 | Rafer Johnson Jr. High Courts | 8am
      </h2>
    </div>
  </div>
</div>

<div class="pickleball-tournament__register default-container">
  <div class="pickleball-tournament__register-container">
    <div class="pickleball-tournament__register-title">
      <h2 class="secondary-header">How to register:</h2>
    </div>

    <div class="pickleball-tournament__register-info">
      <div class="pickleball-tournament__register-info-1">
        <p class="paragraph">
          This tournament will be using an online registration website called
          Pickleball Brackets.
        </p>

        <p class="paragraph">
          Registration opens March 12th and closes April 26th.
        </p>

        <ul>
          <li class="paragraph">
            <span class="bold">Register early:</span> shirt sizes are only
            guranteed if you complete registration
            <span class="underline">before April 8, 2024</span>.
          </li>
        </ul>
      </div>

      <div class="pickleball-tournament__register-info-2">
        <p class="paragraph">
          This area can have a preview of the Pickleball registration or a link
          to it.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="pickleball-tournament__important default-container">
  <div class="pickleball-tournament__important-container">
    <div class="pickleball-tournament__important-title">
      <h2 class="secondary-header">Important Details:</h2>
    </div>

    <div class="pickleball-tournament__important-list">
      <ul>
        <li class="paragraph">Entry Fee is $30.00 per person</li>

        <li class="paragraph">Warm-ups start at 7:30AM</li>

        <li class="paragraph">Tournament starts promptly at 8:00AM</li>

        <li class="paragraph">
          Entry fee includes a custom tournament t-shirt!
        </li>

        <li class="paragraph">
          Shirt size is guaranteed if you register before April 8, 2024.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pickleball-tournament__sponsors default-container">
  <div class="pickleball-tournament__sponsors-container">
    <div class="pickleball-tournament__sponsors-title">
      <h2 class="secondary-header">Tournament Sponsors</h2>
    </div>

    <div class="pickleball-tournament__sponsors-info">
      <p class="paragraph">
        The Kingsburg Weekend of Wellness Pickleball Tournament is proudly
        sponsored by the Kingsburg Healthcare District. This tournament is being
        hosted by both the Kingsburg Elementary School District and the
        Kingsburg Community Education Foundation. Your entry fee will be
        benefitting the Community Education Foundation and furthering the
        support of families within the Kingsburg Elementary District. Please
        click on the buttons below to learn more about each of our incredible
        sponsors!
      </p>
    </div>
  </div>
</div>
{% endblock %}
