.primary-sponsor {
  display: grid;
  grid-template-columns: 20rem 20rem;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.secondary-sponsor,
.additional-sponsor {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.primary-sponsor .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 42.8rem;
  height: 35.5rem;
  border: 0.05rem solid lightgrey;
}

.secondary-sponsor .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 32.3rem;
  height: 47rem;
  border: 0.05rem solid lightgrey;
}

.primary-sponsor .card:hover .card__info {
  border-top: 0.05rem solid lightgrey;
}

.sponsors__elite,
.sponsors__mobile-blood-drive {
  padding: 4rem 0;
}

.sponsors__elite-container,
.sponsors__mobile-blood-drive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sponsors__elite-title h2,
.sponsors__mobile-blood-drive-title h2 {
  font-weight: 600;
}

.sponsors__mobile-blood-drive-info {
  display: flex;
  gap: 5rem;
}

.sponsors__mobile-blood-drive .card {
  width: 50%;
}

.header-container h2 {
  margin-top: 2rem;
}

@media only screen and (max-width: 74.9375em) {
  .card__info p {
    font-size: 2.15rem;
  }
}

@media only screen and (max-width: 56.1875em) {
  .card__info p {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 37.4375em) {
  .card__info p {
    font-size: 1.65rem;
  }
}
