.sponsors__elite,
.sponsors__mobile-blood-drive,
.sponsors__pickleball,
.sponsors__fitness,
.sponsors__educational,
.sponsors__health-fair {
  padding: 4rem 0;
}

.sponsors__elite-container,
.sponsors__mobile-blood-drive-container,
.sponsors__pickleball-container,
.sponsors__fitness-container,
.sponsors__educational-container,
.sponsors__health-fair-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sponsors__health-fair-container {
  gap: 3rem;
}

.sponsors__elite-title h2,
.sponsors__mobile-blood-drive-title h2,
.sponsors__pickleball-title h2,
.sponsors__fitness-title h2,
.sponsors__educational-title h2,
.sponsors__health-fair-title h2 {
  font-weight: 600;
}

.sponsors__pickleball-info-1 {
  margin-bottom: 2rem;
}

.sponsors__mobile-blood-drive-info,
.sponsors__pickleball-info-2,
.sponsors__fitness-info,
.sponsors__educational-info,
.sponsors__health-fair-info {
  display: flex;
  gap: 5rem;
}

.sponsors__mobile-blood-drive .card,
.sponsors__pickleball-info-2 .card,
.sponsors__fitness-info .card,
.sponsors__educational-info .card,
.sponsors__health-fair-info .card {
  width: 50%;
}

.sponsors__health-fair .card:nth-child(3) {
  justify-content: start;
  padding-top: 10rem;
}

.header-container h2 {
  margin-top: 2rem;
}

@media only screen and (max-width: 74.9375em) {
  .sponsors__mobile-blood-drive-info,
  .sponsors__pickleball-info-2,
  .sponsors__fitness-info,
  .sponsors__educational-info,
  .sponsors__health-fair-info {
    flex-direction: column;
  }

  .sponsors__elite-title h2,
  .sponsors__mobile-blood-drive-title h2,
  .sponsors__pickleball-title h2,
  .sponsors__fitness-title h2,
  .sponsors__educational-title h2,
  .sponsors__health-fair-title h2 {
    text-align: center;
  }

  .sponsors__health-fair .card:nth-child(3) {
    padding-top: 0;
  }

  .sponsors__pickleball .card__title p {
    text-align: center;
  }

  .card__info p {
    font-size: 2.15rem;
  }
}

@media only screen and (max-width: 56.1875em) {
  .sponsors__mobile-blood-drive .card,
  .sponsors__pickleball-info-2 .card,
  .sponsors__fitness-info .card,
  .sponsors__educational-info .card,
  .sponsors__health-fair-info .card {
    width: 100%;
  }

  .card__info p {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 37.4375em) {
  .card__info p {
    font-size: 1.65rem;
  }
}
