.home__info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 0;
}

.home__more {
  padding: 4rem 0;
  background-color: #e1dfdb;
  text-align: center;
}

.home__more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home__promo {
  padding: 4rem 0;
}

.home__promo-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.home__promo-img {
  width: 50rem;
}

.home__promo-img img {
  width: 100%;
}

.home__promo-social {
  display: flex;
  gap: 3rem;
}

.home__promo-social a {
  width: 5rem;
}

.home__promo-social a > img {
  width: 100%;
}
