.about__info,
.about__wellness,
.about__media,
.event-team__info,
.faq,
.contact {
  padding: 4rem 0;
}

.about__info-container,
.event-team__info-container {
  display: flex;
  justify-content: space-around;
}

.about__info-img,
.event-team__info-img {
  width: 45rem;
}

.about__info-img img,
.event-team__info-img img {
  width: 100%;
}

.about__info-detail,
.event-team__info-detail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.about__wellness-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__wellness-title {
  text-align: center;
}

.about__wellness-title h2 {
  color: #23969a;
}

.about__wellness-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about__media-container {
  display: flex;
  gap: 4rem;
}

.about__media-img {
  width: 50%;
}

.about__media-img img {
  width: 100%;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.faq__dropdown {
  display: flex;
  flex-direction: column;
}

.faq__dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 0.5rem;
  background-color: transparent;
  border-bottom: 0.1rem solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.faq__dropdown-arrow {
  display: block;
  width: 1rem;
  height: 1rem;
  border-top: 0.2rem solid #000;
  border-left: 0.2rem solid #000;
  transform: rotate(225deg);
}

.faq__dropdown-btn.show .faq__dropdown-arrow {
  transform: rotate(45deg);
}

.faq__dropdown-btn.show ~ .faq__dropdown-answer {
  display: block;
}

.faq__dropdown-answer {
  display: none;
  padding: 2rem 0.5rem;
  cursor: pointer;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact__info-email {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__info-email a {
  color: black;
}

.contact__info-social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__info-social p {
  font-size: 2.6rem;
  font-weight: 500;
}

.contact__info-social-promo {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.contact__info-social-promo a {
  width: 5rem;
}

.contact__info-social-promo a > img {
  width: 100%;
}

@media only screen and (max-width: 74.9375em) {
  .contact__info-social p {
    font-size: 2.35rem;
  }
}

@media only screen and (max-width: 56.1875em) {
  .contact__info-social p {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 37.4375em) {
  .contact__info-social p {
    font-size: 1.85rem;
  }
}

@media only screen and (max-width: 29.9375em) {
  .contact__info-social p {
    font-size: 1.6rem;
  }
}
