*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
p {
  margin: 0;
}

.default-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
}

.nav {
  height: 80px;
  padding-right: 20px;
}

.nav__list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  height: 100%;
  list-style: none;
}

.nav__list-item {
  position: relative;
}

.nav__list-item a {
  color: rgba(0, 0, 0, 0.6399999857);
  padding: 14px 12px;
  text-decoration: none;
}

.nav__list-item a:hover {
  color: rgba(0, 0, 0, 0.8199999928);
  font-weight: 500;
}

.nav__list-item a.active {
  color: rgba(0, 0, 0, 0.8199999928);
  font-weight: 700;
}

.nav__list-item a:hover ~ .nav__droplist,
.nav__droplist:hover {
  display: flex;
}

.nav__droplist {
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  position: absolute;
  top: 35px;
  left: -28px;
  width: 240px;
  padding: 20px 0 20px 32px;
  border-radius: 2px;
  background-color: rgba(27, 27, 27, 1);
}

.nav__droplist-item a {
  color: rgba(189, 189, 189, 1);
}

.nav__droplist-item a.active,
.nav__droplist-item a:hover {
  color: white;
}

.nav__droplist--about {
  width: 150px;
}

.footer {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  font-size: 12px;
}
