/* Define what 1rem is: 1rem = 10px (10/16 = 62.5%) */
/** MEDIA QUERY MANAGER
  * DESKTOP-FIRST
  *
  * Let 1em = 16px
  *
  * MAX-WIDTH:
  * 74.9375em = 1199px
  * 56.1875em = 899px
  * 37.4375em = 599px
  * 29.9375em = 479px
  * 23.6875em = 379px
  *
  * MAX-WIDTH AND MIN-WIDTH
  * 61.9375em = 991px (max) AND 37.5em = 600px (min)
  * 74.9375em = 1199px (max) AND 62em = 992px (min)
  */

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background-color: #23969a;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: auto;
  min-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #23969a rgba(230, 237, 255, 0.27);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
p {
  margin: 0;
}

.default-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: absolute;
  right: 6rem;
  z-index: 10;
  width: 100%;
}

.nav {
  width: 100%;
  height: 8rem;
  padding-right: 2rem;
}

.nav__checkbox,
.nav__hamburger {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  list-style: none;
}

.nav__list-item {
  position: relative;
}

.nav__list-item a {
  color: rgba(0, 0, 0, 0.6399999857);
  font-size: 1.8rem;
  padding: 1.4rem 1.2rem;
  text-decoration: none;
}

.nav__list-item a:hover {
  color: rgba(0, 0, 0, 0.8199999928);
  font-weight: 500;
}

.nav__list-item a.active {
  color: rgba(0, 0, 0, 0.8199999928);
  font-weight: 700;
}

.nav__list-item a:hover ~ .nav__droplist,
.nav__droplist:hover {
  display: flex;
}

.nav__droplist {
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  position: absolute;
  top: 3.5rem;
  left: -2.8rem;
  width: 24rem;
  padding: 2rem 0 2rem 3.2rem;
  border-radius: 0.2rem;
  background-color: #23969a;
}

.nav__droplist-item a {
  color: white;
}

.nav__droplist-item a.active,
.nav__droplist-item a:hover {
  color: #e1e1e1;
}

.nav__droplist--about {
  width: 15rem;
}

.footer {
  height: 15rem;
}

.footer p {
  font-size: 1.6rem;
}

.primary-header {
  font-size: 4rem;
  font-weight: 400;
  color: #23969a;
}

.secondary-header {
  font-size: 3.4rem;
  font-weight: 400;
}

.tertiary-header {
  font-size: 2.4rem;
  font-weight: 400;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.7;
}

.button {
  color: black;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.2s ease-out 0s;
}

.button:hover {
  color: white;
  background-color: black;
}

.button--link {
  text-decoration: none;
}

.fit-content-width {
  width: fit-content;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.banner {
  width: 100%;
  height: 48rem;
  background-color: rgb(201, 201, 201);
  overflow: hidden;
}

.banner img {
  width: 100%;
  transform: translateY(-20rem);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 35.5rem;
  margin-left: auto;
  margin-right: auto;
}

.card--detail {
  gap: 2rem;
  height: auto;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22.8rem;
  overflow: hidden;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
}

.card__title p {
  font-size: 2.2rem;
  font-weight: 600;
}

.card__socials {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.card__socials a {
  width: 4rem;
}

.card__socials a > img {
  width: 100%;
}

.header-container {
  text-align: center;
  padding: 3.5rem 0;
}

@media only screen and (max-width: 87.4375em) {
  .banner img {
    transform: translateY(-9rem);
  }
}

@media only screen and (max-width: 74.9375em) {
  .nav__list-item a {
    font-size: 1.55rem;
  }

  .footer p {
    font-size: 1.35rem;
  }

  .primary-header {
    font-size: 3.75rem;
  }

  .secondary-header {
    font-size: 3.15rem;
  }

  .tertiary-header {
    font-size: 2.15rem;
  }

  .paragraph {
    font-size: 1.75rem;
  }

  .banner {
    height: auto;
  }

  .banner img {
    transform: translateY(0);
  }

  .card__button {
    order: 5;
  }

  .card__socials a {
    width: 5rem;
  }
}

@media only screen and (max-width: 56.1875em) {
  .nav__list-item a {
    font-size: 1.3rem;
  }

  .footer p {
    font-size: 1.1rem;
  }

  .primary-header {
    font-size: 3.5rem;
  }

  .secondary-header {
    font-size: 2.9rem;
  }

  .tertiary-header {
    font-size: 1.9rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }

  .card {
    width: 100%;
    text-align: center;
  }

  .card__image {
    width: 85%;
    height: auto;
  }
}

@media only screen and (max-width: 37.4375em) {
  .primary-header {
    font-size: 3.25rem;
  }

  .secondary-header {
    font-size: 2.65rem;
  }

  .tertiary-header {
    font-size: 1.65rem;
  }

  .header {
    position: fixed;
    right: 0;
  }

  .nav {
    padding-top: 1rem;
    padding-right: 0;
  }

  .nav__checkbox {
    position: absolute;
    right: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    opacity: 0;
  }

  .nav__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    padding-right: 1rem;
  }

  .nav__hamburger span {
    position: relative;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: black;
    transition: all 0.05s linear 0s;
  }

  .nav__hamburger span::before,
  .nav__hamburger span::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 25, 54);
    transition: all 0.05s linear 0s;
  }

  .nav__hamburger span::before {
    transform: translateY(-1rem);
  }

  .nav__hamburger span::after {
    transform: translateY(1rem);
  }

  .nav__checkbox:checked ~ .nav__hamburger span {
    background-color: transparent;
  }

  .nav__checkbox:checked ~ .nav__hamburger span::before {
    transform: translateY(-50%) rotate(45deg);
  }

  .nav__checkbox:checked ~ .nav__hamburger span::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  .nav__checkbox:checked ~ .nav__list {
    display: flex;
    gap: 2rem;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: absolute;
    top: 0;
    height: auto;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #23969a;
    z-index: -1;
    background-attachment: scroll !important;
  }

  .nav__list-item a {
    padding: 0;
  }

  .nav__droplist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    position: initial;
    width: 100%;
    padding: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
    background-color: transparent;
  }

  .nav__droplist-item a {
    color: rgba(0, 0, 0, 0.6399999857);
  }

  .nav__droplist-item:not(:last-child) a::after {
    content: "|";
    padding-left: 1rem;
  }

  .nav__droplist-item a.active::after,
  .nav__droplist-item a:hover::after {
    font-weight: 400;
  }

  .nav__droplist-item a.active,
  .nav__droplist-item a:hover {
    color: rgba(0, 0, 0, 0.8199999928);
    font-weight: 700;
  }

  .card__image {
    width: 100%;
  }
}

@media only screen and (max-width: 29.9375em) {
  .primary-header {
    font-size: 3rem;
  }

  .secondary-header {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 23.6875em) {
  .primary-header {
    font-size: 2.75rem;
  }

  .secondary-header {
    font-size: 2.15rem;
  }
}
