.fitness-classes__info {
  padding: 4rem 0;
  text-align: center;
}

.health-fair__info,
.health-fair__booth,
.mobile-health-clinic__info,
.blood-drive__info,
.pickleball-tournament__info {
  padding: 4rem 0;
}

.health-fair__info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 58rem;
}

.health-fair__info p:nth-child(2) {
  margin-top: 1.5rem;
}

.health-fair__booth-container {
  display: flex;
  justify-content: space-between;
}

.mobile-health-clinic__info-container,
.blood-drive__info-container,
.pickleball-tournament__info-container {
  display: flex;
  justify-content: space-around;
}

.health-fair__booth-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.health-fair__booth-info a,
.farmers-market__signup a {
  color: black;
  margin-top: 1.5rem;
}

.health-fair__booth-info p:last-child {
  font-weight: 700;
}

.health-fair__booth-img,
.mobile-health-clinic__info-img,
.blood-drive__info-img,
.pickleball-tournament__info-img {
  width: 45rem;
}

.health-fair__booth-img img,
.mobile-health-clinic__info-img img,
.blood-drive__info-img img,
.pickleball-tournament__info-img img {
  width: 100%;
}

.farmers-market__signup,
.pickleball-tournament__register,
.pickleball-tournament__important {
  padding: 4rem 0;
}

.farmers-market__signup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 58rem;
}

.farmers-market__signup h2 {
  color: #23969a;
  text-align: center;
}

.mobile-health-clinic__info-detail,
.blood-drive__info-detail,
.pickleball-tournament__info-detail {
  width: 50%;
}

.pickleball-tournament__info-container {
  align-items: center;
}

.pickleball-tournament__register-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pickleball-tournament__register-title {
  text-align: center;
}

.pickleball-tournament__register-title h2 {
  color: #23969a;
  text-decoration: underline;
}

.pickleball-tournament__register-info {
  display: flex;
  justify-content: space-evenly;
}

.pickleball-tournament__register-info-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pickleball-tournament__register-info-1 ul {
  list-style: square;
  margin-left: 2rem;
}

.pickleball-tournament__important-container {
  display: flex;
  justify-content: space-evenly;
}

.pickleball-tournament__important-title h2 {
  color: #23969a;
  font-weight: 600;
}

.pickleball-tournament__sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.pickleball-tournament__sponsors-title h2 {
  text-transform: capitalize;
}

.pickleball-tournament__sponsors-info {
  text-align: center;
}

.header-container h2 {
  margin-top: 2rem;
}

@media only screen and (max-width: 74.9375em) {
  .health-fair__booth-container,
  .mobile-health-clinic__info-container,
  .blood-drive__info-container,
  .pickleball-tournament__info-container,
  .pickleball-tournament__important-container {
    gap: 5rem;
  }

  .health-fair__booth-img,
  .mobile-health-clinic__info-img,
  .blood-drive__info-img,
  .pickleball-tournament__info-img {
    width: 50%;
  }
}

@media only screen and (max-width: 56.1875em) {
  .health-fair__booth-container {
    flex-direction: column-reverse;
  }

  .mobile-health-clinic__info-container {
    flex-direction: column;
  }

  .blood-drive__info-container {
    flex-direction: column;
  }

  .pickleball-tournament__info-container {
    flex-direction: column;
  }

  .health-fair__booth-img,
  .mobile-health-clinic__info-img,
  .blood-drive__info-img,
  .pickleball-tournament__info-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .health-fair__info-container,
  .farmers-market__signup-container,
  .mobile-health-clinic__info-container {
    width: 100%;
  }

  .health-fair__booth-info,
  .mobile-health-clinic__info-detail,
  .blood-drive__info-detail,
  .pickleball-tournament__info-detail {
    width: 100%;
  }

  .health-fair__booth-info h2,
  .farmers-market__signup h2,
  .blood-drive__info-detail h2,
  .pickleball-tournament__info-detail h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 37.4375em) {
  .health-fair__booth-img,
  .mobile-health-clinic__info-img,
  .blood-drive__info-img,
  .pickleball-tournament__info-img {
    width: 100%;
  }

  .pickleball-tournament__register-info {
    flex-direction: column;
    gap: 20px;
  }

  .pickleball-tournament__important-container {
    flex-direction: column;
  }

  .pickleball-tournament__important-title {
    text-align: center;
  }

  .pickleball-tournament__sponsors-info {
    text-align: left;
  }

  .pickleball-tournament__important-list {
    padding-left: 1rem;
  }
}
