.fitness-classes__info {
  padding: 40px 0;
  text-align: center;
}

.health-fair__info,
.health-fair__booth,
.mobile-health-clinic__info,
.blood-drive__info,
.pickleball-tournament__info {
  padding: 40px 0;
}

.health-fair__info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 580px;
}

.health-fair__info p:nth-child(2) {
  margin-top: 15px;
}

.health-fair__booth-container {
  display: flex;
  justify-content: space-between;
}

.mobile-health-clinic__info-container,
.blood-drive__info-container,
.pickleball-tournament__info-container {
  display: flex;
  justify-content: space-around;
}

.health-fair__booth-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.health-fair__booth-info a,
.farmers-market__signup a {
  color: black;
  margin-top: 15px;
}

.health-fair__booth-info p:last-child {
  font-weight: 700;
}

.health-fair__booth-img,
.mobile-health-clinic__info-img,
.blood-drive__info-img,
.pickleball-tournament__info-img {
  width: 450px;
}

.health-fair__booth-img img,
.mobile-health-clinic__info-img img,
.blood-drive__info-img img,
.pickleball-tournament__info-img img {
  width: 100%;
}

.farmers-market__signup,
.pickleball-tournament__register,
.pickleball-tournament__important {
  padding: 40px 0;
}

.farmers-market__signup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 580px;
}

.mobile-health-clinic__info-detail,
.blood-drive__info-detail,
.pickleball-tournament__info-detail {
  width: 50%;
}

.pickleball-tournament__info-container {
  align-items: center;
}

.pickleball-tournament__register-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pickleball-tournament__register-title {
  text-align: center;
}

.pickleball-tournament__register-title h2 {
  color: #23969a;
  text-decoration: underline;
}

.pickleball-tournament__register-info {
  display: flex;
  justify-content: space-evenly;
}

.pickleball-tournament__register-info-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pickleball-tournament__register-info-1 ul {
  list-style: square;
  margin-left: 20px;
}

.pickleball-tournament__important-container {
  display: flex;
  justify-content: space-evenly;
}

.pickleball-tournament__important-title h2 {
  color: #23969a;
  font-weight: 600;
}

.pickleball-tournament__sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.pickleball-tournament__sponsors-title h2 {
  text-transform: capitalize;
}

.pickleball-tournament__sponsors-info {
  text-align: center;
}

.header-container h2 {
  margin-top: 20px;
}
