.fitness-classes__info {
  padding: 40px 0;
  text-align: center;
}

.health-fair__info,
.health-fair__booth,
.mobile-health-clinic__info {
  padding: 40px 0;
}

.health-fair__info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 580px;
}

.health-fair__info p:nth-child(2) {
  margin-top: 15px;
}

.health-fair__booth-container {
  display: flex;
  justify-content: space-between;
}

.mobile-health-clinic__info-container {
  display: flex;
  justify-content: space-around;
}

.health-fair__booth-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.health-fair__booth-info a,
.farmers-market__signup a {
  color: black;
  margin-top: 15px;
}

.health-fair__booth-info p:last-child {
  font-weight: 700;
}

.health-fair__booth-img,
.mobile-health-clinic__info-img {
  width: 450px;
}

.health-fair__booth-img img,
.mobile-health-clinic__info-img img {
  width: 100%;
}

.farmers-market__signup {
  padding: 40px 0;
}

.farmers-market__signup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 580px;
}

.mobile-health-clinic__info-detail {
  width: 50%;
}
