{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'sponsors/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'sponsors/img/sponsors-banner.png' %}" />
</div>

<div class="header-container default-container">
  <h1 class="primary-header">Thank You To Our Sponsors!</h1>

  <h2 class="secondary-header">
    Take a look at our incredible sponsors who have helped make this event
    possible.
  </h2>
</div>

<div class="sponsors__elite default-container">
  <div class="sponsors__elite-container">
    <div class="sponsors__elite-title">
      <h2 class="secondary-header">Elite Sponsor:</h2>
    </div>

    <div class="sponsors__elite-info">
      <div class="card">
        <div class="card__image">
          <img
            src="{% static 'sponsors/img/kingsburg-healthcare-district--logo.png' %}"
          />
        </div>

        <div class="card__title">
          <p class="paragraph">Kingsburg Healthcare District</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sponsors__mobile-blood-drive default-container">
  <div class="sponsors__mobile-blood-drive-container">
    <div class="sponsors__mobile-blood-drive-title">
      <h2 class="secondary-header">Mobile Health and Blood Drive Partners:</h2>
    </div>

    <div class="sponsors__mobile-blood-drive-info">
      <div class="card">
        <div class="card__image">
          <img src="{% static 'sponsors/img/adventist-health--logo.png' %}" />
        </div>

        <div class="card__title">
          <p class="paragraph">Adventist Health</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img
            src="{% static 'sponsors/img/central-california-blood-bank--logo.png' %}"
          />
        </div>

        <div class="card__title">
          <p class="paragraph">Central California Blood Bank</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sponsors__pickleball default-container">
  <div class="sponsors__pickleball-container">
    <div class="sponsors__pickleball-title">
      <h2 class="secondary-header">Pickleball Tournament:</h2>
    </div>

    <div class="sponsors__pickleball-info-1">
      <div class="card">
        <div class="card__image">
          <img
            src="{% static 'sponsors/img/kingsburg-healthcare-district--logo.png' %}"
          />
        </div>

        <div class="card__title">
          <p class="paragraph">Kingsburg Healthcare District</p>
        </div>
      </div>
    </div>

    <div class="sponsors__pickleball-info-2">
      <div class="card">
        <div class="card__image">
          <img
            src="{% static 'sponsors/img/kingsburg-elementary-charter--logo.png' %}"
          />
        </div>

        <div class="card__title">
          <p class="paragraph">Kingsburg Elementary Charter School District</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image">
          <img
            src="{% static 'sponsors/img/kingsburg-community-education--logo.jpg' %}"
          />
        </div>

        <div class="card__title">
          <p class="paragraph">Kingsburg Community Education Foundation</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sponsors__fitness default-container">
  <div class="sponsors__fitness-container">
    <div class="sponsors__fitness-title">
      <h2 class="secondary-header">Fitness Class Sponsors:</h2>
    </div>

    <div class="sponsors__fitness-info">
      <div class="card card--detail">
        <div class="card__image">
          <img src="{% static 'sponsors/img/valkommen-fitness--logo.png' %}" />
        </div>

        <div class="card__title">
          <p class="paragraph">Valkommen Fitness</p>
        </div>

        <div class="card__info">
          <p class="paragraph">
            Valkommen Fitness is gym whose main focus is coach-led classes
            focusing on functional movements, balancing cardio endurance and
            strength training.
          </p>
        </div>

        <div class="card__button">
          <a
            href="https://valkommenfitness.com"
            rel="noopener noreferrer"
            target="_blank"
            class="button button--link"
            >Learn More</a
          >
        </div>
      </div>

      <div class="card card--detail">
        <div class="card__image">
          <img src="{% static 'sponsors/img/valley-fitness--logo.png' %}" />
        </div>

        <div class="card__title">
          <p class="paragraph">Valley Fitness</p>
        </div>

        <div class="card__info">
          <p class="paragraph text-center">Where Fitness is Life!</p>

          <p class="paragraph">
            Valley Fitness is excited to help you take the next steps in your
            health journey. With 15 Health Club locations across the Central
            Valley, there is a spot for you and we can't wait to.
          </p>
        </div>

        <div class="card__button">
          <a
            href="https://valleyfitness.com"
            rel="noopener noreferrer"
            target="_blank"
            class="button button--link"
            >Learn More</a
          >
        </div>

        <div class="card__socials">
          <a
            href="https://www.instagram.com/valleyfitness.ca?igsh=OGQ5ZDc2ODk2ZA=="
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="{% static 'img/instagram-icon.png' %}" />
          </a>
        </div>
      </div>

      <div class="card card--detail">
        <div class="card__image">
          <img src="{% static 'sponsors/img/workouts-unlimited--logo.png' %}" />
        </div>

        <div class="card__title">
          <p class="paragraph">Workouts Unlimited</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
