{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'about/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'about/img/contact-banner.png' %}" />
</div>

<div class="header-container default-container">
  <h1 class="primary-header">Questions?</h1>
</div>

<div class="contact default-container">
  <div class="contact-container">
    <div class="contact__info">
      <div class="contact__info-email">
        <p class="paragraph">
          Fill out the contact form to get in touch with us. Or send us an email
          at:
          <a href="mailto:kingsburgwellness@gmail.com"
            >kingsburgwellness@gmail.com</a
          >
        </p>

        <p class="paragraph">We look forward to hearing from you!</p>
      </div>

      <div class="contact__info-social">
        <p class="paragraph">Connect with us on</p>

        <p class="paragraph">Social Media:</p>

        <div class="contact__info-social-promo">
          <a
            href="https://www.instagram.com/kingsburg_wellness?igsh=OGQ5ZDc2ODk2ZA=="
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="{% static 'img/instagram-icon.png' %}" />
          </a>

          <a
            href="https://www.facebook.com/profile.php?id=61556758955976&mibextid=LQQJ4d"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="{% static 'img/facebook-icon.png' %}" />
          </a>
        </div>
      </div>
    </div>

    <div class="contact__form"></div>
  </div>
</div>
{% endblock %}
