{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'about/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'about/img/faq-banner.png' %}" />
</div>

<div class="faq default-container">
  <div class="faq-container">
    {% for faq in faqs %}
    <div class="faq__dropdown">
      <button
        id="faqDropdownBtn-{{ forloop.counter0 }}"
        class="faq__dropdown-btn"
        onclick="faqDropdownOnClick(this.id)"
      >
        {{ faq.question }}
      </button>

      <div
        id="faqDropdownAnswer-{{ forloop.counter0 }}"
        class="faq__dropdown-answer"
      >
        {{ faq.answer }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="{% static 'about/js/faq.js' %}"></script>
{% endblock %}
