{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'about/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner">
  <img src="{% static 'about/img/about-banner.png' %}" />
</div>

<div class="header-container default-container">
  <h1 class="primary-header">Community is everything.</h1>
</div>

<div class="about__info default-container">
  <div class="about__info-container">
    <div class="about__info-img">
      <img src="{% static 'about/img/teal-dala.png' %}" />
    </div>

    <div class="about__info-detail">
      <h3 class="tertiary-header">
        They aren't kidding when they say "It takes a Village."
      </h3>

      <h3 class="tertiary-header">
        Here in Kingsburg... it takes a
        <span class="bolder">Swedish Village.</span>
      </h3>

      <p class="paragraph">
        This event has been made possible for the community by the community;
        the Weekend of Wellness is paving the way for a future where all
        individuals feel encouraged, supported and inspired within their health
        journeys and paths towards wellness.
      </p>
    </div>
  </div>
</div>

<div class="about__wellness default-container">
  <div class="about__wellness-container">
    <div class="about__wellness-title">
      <h2 class="secondary-header">What is Wellness?</h2>
    </div>

    <div class="about__wellness-info">
      <p class="paragraph">
        Wellness takes many forms; mental health, physical health, and
        nutritional wellbeing. Wellness is not limited to these three areas. In
        fact, social connection and community engagement are two of the most
        important aspects of wellness. This is why community is so important to
        us at the Kingsburg Weekend of Wellness event.
      </p>

      <p class="paragraph">
        As you take part in our Weekend of Wellness, our goal is to discuss,
        educate, and inspire you to take control of your wellness journey. As a
        result of our classes, farmers market, pickleball tournament, and more,
        we hope that you learn ways to connect with community members,
        organizations, and healthcare professionals who desire to assist you as
        you seek a future of a healthier lifestyle.
      </p>

      <p class="paragraph">
        Your path towards wellness can start at any age, and we encourage you to
        begin this journey with us by bringing your families along, and becoming
        informed together. A bright, healthy future lies ahead, and we are so
        excited to be a part of your growth!
      </p>
    </div>
  </div>
</div>

<div class="about__media default-container">
  <div class="about__media-container">
    <div class="about__media-img">
      <img src="{% static 'about/img/wellness-journey.png' %}" />
    </div>

    <div class="about__media-img">
      <img src="{% static 'about/img/be-kind-to-yourself.png' %}" />
    </div>

    <div class="about__media-img">
      <img src="{% static 'about/img/healing-takes-time.png' %}" />
    </div>
  </div>
</div>
{% endblock %}
